nav.navbar {
    height: 100vh;
    width: 80%;
    top: 0;
    position: fixed;
    background-color: #3f4e5c;
    padding: 1em 1.5em;
    transition: all 1s ease;
    .Links {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        a {
            color: #fff;
            margin: 1em 0;
            font-size: 1.2em;
        }
    }
}